@charset "UTF-8";
/* 回答はここから */
.q1--around {
  width: 160px;
  background-color: #fff;
  padding: 20px;
}

.q1--around.around--text-align {
  text-align: center;
}

.q1--middle {
  background-color: #a4b3e9;
  font-size: 16px;
  padding: 10px;
}

.q1--middle.middle--text-align {
  display: inline-block;
}

.q1--middle.middle--margin {
  width: 90px;
  margin: 0 auto;
  text-align: center;
}

.q1--perimeter.table {
  display: table;
}

.q1--perimeter--cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.q1--block {
  background-color: #fff;
  font: 16px;
  padding: 10px;
}

.q1--block.table--block {
  display: inline-block;
}

.q1--perimeter.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
}

.q1--blue-box {
  background-color: #a4b3e9;
  font-size: 16px;
  padding: 10px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}