@charset "UTF-8";
/* 回答はここから */
ul {
  display: flex;
  justify-content: center;
}

li {
  width: 200px;
  outline: 10px solid #655;
  /* border-radiusの角部分を装飾するため */
  box-shadow: 0 0 0 6px #655;
  border-radius: 13px;
  background-color: #d2b48c;
  padding: 10px;
  list-style-type: none;
}

.center-li {
  margin: 0 60px 0 60px;
}
